<p id="notice"><%= notice %></p>

<h1>Organisation</h1>

<table>
  <thead>
    <tr>
      <th>Name group</th>
      <th>Salle</th>
      <th>Tache</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.name_group %></td>
        <td><%= group.salle %></td>
        <td><%= group.tache %></td>
        <!-- <td><%= link_to 'Show', group %></td> -->
        <td><%= link_to 'Edit', edit_group_path(group) %></td>
        <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>




<%= link_to 'New Group', new_group_path %>
<p id="notice"><%= notice %></p>

<h1>Listing People</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <!-- <th>Email</th>
      <th>Tel</th> -->
      <th>Group</th>
      <th>Sensei</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.name %></td>
         <!-- <td><%= person.email %></td> -->
        <!-- <td>0<%= person.tel %></td> -->
        <td><%= person.group_id %></td>
        <td><%= person.sensei %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
