<p id="notice"><%= notice %></p>

<h1>Organisation</h1>

<header class="navbar navbar-default" role="navigation">
  <div class="navbar-inner">
    <div class="container">
      <div id="logo" class="navbar-brand">
        <%= link_to "OrganiZation", root_path %>
      </div>
      <nav class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to "Utilisateurs",  people_path %></li>
        </ul>
      </nav>
    </header>

    <table>
      <thead>
        <tr>
          <th>Name group</th>
          <th>Salle</th>
          <th>Tache</th>
          <th colspan="4"></th>
          <th>content</th>
        </tr>
      </thead>

      <tbody>
        <% @groups.each do |group| %>
        <tr>
          <td><%= group.name_group %></td>
          <td><%= group.salle %></td>
          <td><%= group.tache %></td>
          <!-- <td><%= link_to 'Show', group %></td> -->
          <td><%= link_to 'Edit', edit_group_path(group) %></td>
          <td><button type="button" name="button"><%= link_to 'Clearteam', clearteam_path(group) %></button></td>

          <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <td>

            <div class="col-lg-offset-4">
              <% @people.each do |person|%>
              <p>
                <% if group.id == person.group_id%>
                <%= person.name%>
                <p></p>
                <%if person.sensei%>

                SENSEI!
                <%else%>
                eleve
                <%end%>
                <br>
                <%=link_to "Update_sensei", updatesensei_path(person)%>
                <br>
                <% end %>
              </p>
              <% end %>

            </td>
          </tr>
        </div>

        <% end %>

      </tbody>
    </table>

    <br>

    <button type="button" name="button"><%= link_to 'New Group', new_group_path %></button>

    <p id="notice"><%= notice %></p>

    <div class=" col-lg-offset-4">

      <h1>Listing People</h1>

      <table>
        <thead>
          <tr>
            <th>Name</th>
            <!-- <th>Email</th>
      <th>Tel</th> -->
            <!-- <th>Group</th> -->
            <th>Sensei</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @people.each do |personson| %>
          <tr>
            <td><%= personson.name %></td>
            <!-- <td><%= personson.email %></td> -->
            <!-- <td>0<%= personson.tel %></td> -->
            <!-- <td><%= personson.group_id %></td> -->
            <td><%= personson.sensei %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <button type="button" name="button">
        <%=link_to 'randomize', randomize_path%></button>
      <br>
    </div>
